Building configuration...
n Interface FastEthernet0/0, changed state to down
*Jan 31 15:32:58.439: %LINK-5-CHANGED: Interface FastEthernet0/0, changed state to administratively down
Current configuration : 1038 bytes
!
upgrade fpd auto
version 15.0
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname c7200
!
boot-start-marker
boot-end-marker
!
enable secret 5 $1$XB3x$d0IBBW2smraPu4.8oJvBp1
!
no aaa new-model
!
!
!
ip source-route
no ip icmp rate-limit unreachable
ip cef
!
!
!
!
no ip domain lookup
no ipv6 cef
!
multilink bundle-name authenticated
!
!
!
!
!
!
!
!
username admin privilege 15 secret 5 $1$RKrI$4SuOlxpzxw/ZVDSaWCpdl.
!
redundancy
!
!
ip tcp synwait-time 5
! 
!
!
!
!
!
!
!
interface FastEthernet0/0
 no ip address
 shutdown
 duplex half
 !
!
ip forward-protocol nd
no ip http server
no ip http secure-server
!
!
!
no cdp log mismatch duplex
!
!
!
!
!
!
control-plane
 !
!
!
mgcp fax t38 ecm
mgcp behavior g729-variants static-pt
!
!
!
gatekeeper
 shutdown
!
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 login local
 stopbits 1
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line vty 0 4
 login local
!
end